@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = "_LayoutLightBox";
}

    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <div class="row">
                    <div class="col-12">
                        <a href="@Url.Action("Index")" class="access__link">
                            <i class="access__icon fas fa-arrow-left"></i>
                            Voltar
                        </a>
                        <div class="access__top">
                            <h2 class="access__title--answer">
                                500
                            </h2>
                            <p class="access__description">
                                Desculpe, mas tivemos um inconveniente, poderia tentar novamente por favor?
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
